.dropdown { z-index: 4000} 
#sddm { margin: 0; padding: 0; z-index: 30} 
#sddm li { margin: 0; padding: 0; list-style: none; float: left; font: bold 11px arial} 
#sddm li a { display: block; margin: 0 1px 0 0; padding: 4px 10px; width: 60px; background: #98B6C1; color: #000; text-align: center; text-decoration: none} 
#sddm li a:hover { background: #49A3FF} 
#sddm div { position: absolute; visibility: hidden; margin: 0; padding: 0; background: #EAEBD8; border: 1px solid #5970B2} 
#sddm div a { position: relaive; display: block; margin: 0; padding: 5px 10px; width: auto; white-space: nowrap; text-align: left; text-decoration: none; background: #EAEBD8; color: #5970B2; font: 11px arial} 
#sddm div a:hover { background: #98B6C1; color: #FFF}

#categoryHeading{font-size:1.5em; font-weight:bolder; padding: .1em;}

.adWhite { width: 95%; float: left ; margin: 0; background: #FFFFFF;}
.adGrey { width: 95%; float: left ; margin: 0;  background: #F0F0F0;} 
 
#adHeader { width: 95%; float: left ; margin: 0; padding: .3em ; }
#adDetail {width: 95%;float: left ; font: 12px arial; color: #000000 ; margin: 0;padding: .3em ; }

#adForm {background: #F0F0F0}
#adForm label { font: 12px arial; font-weight: normal; display: block; float: left; margin-bottom: 2px; margin-top: 2px;}
#adForm textarea { width: 30em; height: 10em;}

#startDatepicker { width: 75px; margin-bottom: 2px; }
#endDatepicker { width: 75px; margin-bottom: 2px; }
#adFormPrice { width: 75px; margin-bottom: 2px; }
#adFormTitle { width: 250px; margin-bottom: 2px; }


.error { font: 12px arial; color: red; font-weight: bold; }

.SubmitAdFormPolicy { font: 10px arial; color: #000000; font-weight: normal; }

.hidden {display: none;}
.underline:hover {text-decoration: underline; cursor:pointer; }

.pageTitle {font-size:1.5em; font-weight:bolder; margin-top: .5em; margin-bottom: .5em; }
.submitNewItem {font-size:1em; font-weight:bolder; margin-top: .5em; margin-bottom: .5em;}


.column {float: left;  padding: 0px; text-decoration: none; margin-top: 1em;}
.column a:hover { color: #44626a;}

.heading {  background: #e2e8e7;  text-align: center; display: block; height: 1.3em; width:98%;  color:#44626a; FONT-WEIGHT: bolder; }
.heading a { color: #44626a; FONT-WEIGHT: bolder;}
.category a { color: #44626a; display: block; border-top:  solid thin #e2e8e7; width:95%; margin: .1em; padding: .05em;}
.category-noline a { color: #44626a; display: block; width:95%; margin: .1em; padding: .05em;}

.editColumn {float: left;  padding: 0px; text-decoration: none; margin-top: 2px; border-bottom:  solid thin #e2e8e7; width:100% }
.headingRow {  background: #5970B2; color: #FFF; width: "100%";}
.whiteLine { background: #FFFFFF;  width: "100%";}
.greyLine { background: #F0F0F0;  width: "100%";}

.footer { width: "100%"; margin-top: 1em;}
.delCol { display: inline-block; align: center;  width: 10%; nowrap}
.delColGreyed { display: inline-block; align: center;  width: 10%; nowrap;  opacity:.3 ; filter:Alpha(opacity=30);}
.editCol { display: inline-block; align: center;  width: 10%; nowrap}
.adsCol { display: inline-block; align: center;  width: 10%; nowrap}
.catCol { display: inline-block; align: center;  width: 15%; nowrap}
.nameCol { display: inline-block; align: center;  width: 60%; nowrap;}
.dateCol { display: inline-block; align: center;  width: 15%; nowrap}

#adminURL { color: #e2e8e7; display: block; border-top:  solid thin #e2e8e7; width:90%; text-align:right; }
#adminSpace {width:100%; height:1em; }

.subCol { text-align:right; }

#adminURL { color: #e2e8e7; display: block; border-top:  solid thin #e2e8e7; width:90%; text-align:right; }
#adminSpace {width:100%; height:1em; }

#configForm {background: #F0F0F0}
#configForm label { font: 12px arial; font-weight: normal; display: block; float: left; margin-bottom: 2px; margin-top: 2px;}
#configForm textarea { width: 30em; height: 10em;}

#policyTitle {width:30em;}
#helpTitle {width:30em;}





















































