<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
           
	<context:annotation-config/>		           
           
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean"> 
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:hibernate.cfg.xml"/>
	 	<property name="hibernateProperties">
			<props>
				 <!-- <prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>   -->
				  <prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>  
			</props>
		</property>
	</bean>
	
	
    <!-- 
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>net.sourceforge.jtds.jdbc.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:jtds:sqlserver://localhost:1433;instance=SQLEXPRESS;databaseName=uPortal</value>
		</property>
		<property name="username">
			<value>sa</value>
		</property>
		<property name="password">
			<value>DB PASSWORD</value>
		</property>
	</bean>
	-->
	
	
	<bean id="modelPasser" class="org.jasig.web.util.DefaultModelPasser" />
    <bean id="sessionKeyGenerator" class="org.jasig.web.util.DefaultSessionKeyGenerator" />
     <bean id="requiredAnnotationBeanPostProcessor" class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />
  
	<bean id="abstractHibernateTemplate" abstract="true">
		<property name="sessionFactory">
			<ref local="sessionFactory"/>
		</property>
	</bean>

	<!-- the following Services that everybody can see -->
 
<!-- 	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"> -->
	
	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="categoryService"
        class="edu.fortlewis.portlet.ClassifiedsPortlet.service.CategoryServiceImpl" >
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	
	<bean id="adService"
        class="edu.fortlewis.portlet.ClassifiedsPortlet.service.AdServiceImpl" >
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	

	<bean id="headingService"
        class="edu.fortlewis.portlet.ClassifiedsPortlet.service.HeadingServiceImpl" >
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
              
    <bean id="configService"
        class="edu.fortlewis.portlet.ClassifiedsPortlet.service.ConfigServiceImpl" >
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>          
              
                 
	<!-- Message source for this context, loaded from localized "messages_xx" files -->
	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>messages</value>
			</list>
		</property>
	</bean>

	<!-- Abstract Default Exception Handler Bean -->
	<bean id="defaultExceptionHandlerTemplate"
		class="org.springframework.web.portlet.handler.SimpleMappingExceptionResolver"
		abstract="true">
		<property name="defaultErrorView" value="defError"/>
		<property name="exceptionMappings">
			<props>
				<prop key="javax.portlet.PortletSecurityException">notAuthorized</prop>
				<prop key="javax.portlet.UnavailableException">notAvailable</prop>
			</props>
		</property>
	</bean>
	
	<!-- 
     | View resolvers, look for a named view bean before going to JSP resolution
     +-->

    <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="order" value="10"/>
        <property name="cache" value="true"/>
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
 	
	
   <!-- purge old ads -->

    <bean id="adPurgeThread" class="edu.fortlewis.portlet.ClassifiedsPortlet.service.AdGroomer" init-method="start" destroy-method="endThread">
 	    <property name="hourToCheck" value="3"/>
    	<property name="minuteToCheck" value="0"/>
    	<property name="checkInterval" value="60"/>
     	<property name="maxCheckIntervalMillis" value="43200000"/>
     </bean>

     <bean id="adminGroupService" class="edu.fortlewis.portlet.ClassifiedsPortlet.service.AdminGroupService" init-method="init" />
 
	
</beans>
